html, body {
    background-color: #000000;
    color: #fff;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        height: auto;  
    
    ul {
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        list-style-type: none;
        font-size: 1.5rem;
        
        li {
        background-color: #000;
        border-radius: 15px;
        height: auto;
        padding: 1rem;
        cursor: pointer;
        transition: background-color 0.5s ease-in;
        }

        li:hover {
            background-color: #aaa9a9;
            border-radius: 15px;
            height: auto;
            padding: 1rem;
            cursor: pointer;
            }
    }

    button {
    margin-left: auto;
    cursor: pointer;
    }
}




.home {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: auto;
}

input {
    border-radius: 10px;
    height: 50px;
}
.join-input:invalid {
    background-color: palevioletred;
}
.join-input:valid {
    background-color: green($color: #000000);
}

.create-game {
    width: 5%;
    height: 5%
}


.game-content-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .game-board {
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        height: 30%;
        margin: auto;
    
        .cell {
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
            height: 8rem;
        }
    }

    @media only screen and (max-width: 500px){
        .game-board {
            display: grid;
            grid-template-columns: repeat(3, 6rem);
            height: 30%;
            margin: auto;
        
            .cell {
                font-size: 1.5rem;
                margin: 0;
                padding: 0;
                height: 5rem;
            }
        }
    }
}
